<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gezi Rehberim | Admin Paneli</title>

    <link rel="stylesheet" href="~/skydash_admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash_admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash_admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/skydash_admin/css/vertical-layout-light/style.css">

    <link rel="shortcut icon" href="~/skydash_admin/images/favicon2.png" />
</head>